<nav class="navbar navbar-default navbar-fixed-top " role="navigation">
    <div class="container coverflow">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll navbrandfont" href="/home">      <i class="fa fa-globe fa-1x /" aria-hidden="true">WEBTEST</i>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/wide" class ="navfont">Wide range</a></li>
                <li><a href="/smallrange" class ="navfont">Small range</a></li>
                <li><a href="/precision" class ="navfont">Precision</a></li>
                <li><a href="/discussion" class ="navfont">Discussion</a></li>
                <li><a href="/contact" class ="navfont">Contact Us</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                 <li>
                    <h4 class="btn">Hi,<%= user.fullname %></h4>
                    <a href="/logout" class="btn btn-default btn-outline btn-circle navbar-right" >Log Out</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>  