<% layout('layout') %>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"
style="background-color:#FFE6D9;">
    <% include ../partials/navHome %>  
    <div id="wrapper" style="margin-top:140px;">
    <div id="page-content-wrapper" >
        <div class="container-fluid main_body">

            <div class="bodyDiv">
				<h1 style="text-align:center; font-weight: bold;">Discussion Board</h1>

				<input type="hidden" name="userId" id="userId" class="form-control" value="<%= user._id %>"><br>

				<br>

				<div class="form-group ">
					<textarea id="msg" name="message" class="form-control" placeholder="Enter message" rows="5" cols="60"></textarea>
				</div>

				<div class="form-group">
					<input type="submit" id="message" value="Leave Message" class="form-control btn btn-primary" name="send">
				</div>
           
               <div class="msg">
                    <ul class="chat">
                        <% for(i=0; i<data.length; i++){ %>
                            <li>
                                <%= data[i].userFromName %> say: <%= data[i].body %>
                            </li>
                        <% } %>
                    </ul>
				</div>
            </div>
        </div>
    </div>
</div>
 <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="js/message.js"></script>
</body>