<% layout('layout') %>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"
style="background-color:#FFFFFF;">
    <% include ../partials/navHome %> 
     <img src="./img/city/city.jpg" style="width:100%;"/>
</body>